<%-include('header')%>

            
<div class="container-fluid">
        
    <div class="container">
            <h1 style="margin: 50px auto; text-align: left; font-size: 24px; text-decoration: underline orange;"><%= title %></h1>
    </div>
    <div class="container">
            <div class="row">
                <div id="loginbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">Edit password details</div>
                             </div>  
                        <div class="panel-body" >
                            <form action="/password-details/edit/<%= record._id%>" id="EmployeeForm" class="form-horizontal" method="post">
                                <% if(success != ''){%>
                                  <p style="text-align: center; color: green;"><%=success%></p>
                                  <%}%>
                             <div class="form-group">
                                <label for="lastname" class="col-md-3 control-label">Choose password category</label>
                                <div class="col-md-9">
                                            <select class="form-control" name="pass_cat">
                                                <option value="">Choose Password Category</option>
                                                <% if(records.length >0) {
                                                  records.forEach(function(row){%>

                                                <option value="<%= row.password_category%>" <% if(row.password_category==record.password_category){%>selected<%}%> ><%= row.password_category%></option>
                                                      <%})}%>
                                            </select>
                                </div>
                            </div>

                            <div class="form-group">
                              <label for="firstname" class="col-md-3 control-label">Project Details</label>
                              <div class="col-md-9">
                                  <input type="text"  class="form-control" name="project_name" placeholder="Enter Your Project Details" value="<%= record.project_name%>" >
                              </div>
                          </div>
                                    
                                <div class="form-group">
                                    <label for="firstname" class="col-md-3 control-label">Category Name</label>
                                    <div class="col-md-9">
                                        <textarea class="form-control" id="editor" name="pass_details" placeholder="Enter your Password Details" rows="5"><%= record.password_detail%></textarea>
                                    </div>
                                </div>
                                  <input type="hidden" name="id" value="<%= record._id%>">
                                <div class="form-group">
                                    <!-- Button -->                                        
                                    <div class="col-md-offset-3 col-md-9">
                                    <input type="submit" name="submit" value="Update Password Details" class="btn btn-primary">   
                                    </div>
                                </div>  
                                <p><a href="/view-all-password">View All password List</a></p>   
                            </form>
                         </div>
                    </div>
      
      
          </div>
           </div>
        </div>

    

   

 </div> 
 <script>
  CKEDITOR.replace( 'editor' );
</script>
<%-include('footer')%>
